  .card {
    width: 200px;
    height: 275px;
    margin: 0 10px;
    padding: 25px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
  }
  .card img {
    width: 100px;
  }
  .card p {
    color: rgb(95, 95, 95);
  }
